$dark: black;
$width-desktop: 60%;
$width-tablet: 70%;
$width-mobile: 90%;



$blueAzure: #2699B0;
$orange: #E95E2E;
$yellow: #F29400;
$red: #E5322C;
$green: #4BA829;
$cobalt: #5889C7;
$darkGrey: #4A4A49;
$lightGrey: #cacaca;